.about img{
    width: 100%;
}

.about h2{
    margin: 1% 5% 0;
    text-align: center;
}

.about p{
    margin: 1% 5%;
}

.about .cards{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.about .cards a{
    text-decoration: none;
    margin-bottom: 2%;
}