.bi-cart{
    font-size: 25px;
    position: relative;
}
.quantityElements {
    width: 25px;
    height: 25px;
    background-color: red;
    color: #fff;
    border-radius: 50% ;
    text-decoration:none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    display: inline-block !important;
    top: -13px;
    right: -12px;


}
.cartDetail{
    display: flex;
    flex-direction: column;
}
.cart{
    display: flex;
    flex-direction: row;
}

.cartProduct{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.itemTitle-cart{
    width: 100%;
}
.qtyPrice{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.qty{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cartDetail .deleteItem{
    justify-content: left;
    padding-left: 1rem;
}

.pay-button{
    display: flex;
    justify-content: end;
}

@media (max-width:550px) {
    
    .cart{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cartProduct{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .qtyPrice{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .qty{
        width: 100%;
        align-items: flex-start;
    }
}