a {
  text-decoration: none !important ;
  padding: 0% 1%;
}

.textAboveItems {
  font-family: monospace;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
}

 .itemList{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

 .cardContainer {
  margin: 2.5% 0;
  display: flex;
}

 .cardContainer .card-item {
  width: 22rem;
  margin: 1rem 0;
}

 .cardContainer .card-item .imgContainer {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .cardContainer .card-item:hover {
  transform: scale(1.01);
  box-shadow: 3px 3px 50px var(--color-shadow);
}

 .cardContainer .card-item .image {
  max-height: 300px;
  width: max-content;
  max-width: 320px;
}

 .cardContainer .card-title {
  height: 5rem;
}

 .cardContainer .card-item .text {
  height: 4rem;
}

 .card-text {
  font-family: "Montserrat", sans-serif;
}

 .card-text p:nth-child(1) {
  text-align: end;
  font-size: 23px;
}

 .card-text p:nth-child(2) {
  color: #00a650;
}

@media (max-width:320px) {
   .cardContainer .card-item{
    width: 18rem;
  }
   .cardContainer .card-item .image {
    max-height: 230px;
    width: max-content;
    max-width: 250px;

  }
  .carousel-item img{
    height: 160px;
    object-fit: cover;

  }
}   