a{
    text-decoration: none!important ;
}

.itemList .cards{
    /* background-color: #00a650; */
    margin: 2.5% 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.itemList .cards .card{
    width: 15rem;
   /*  margin: 0.5rem 1rem; */
}

.itemList .cards .card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 30px var(--button-bg);
}

.itemList .cards .card-title{
    height: 5rem;
}

.itemList .cards .card .text{
    height: 4rem;
}

.itemList .card-text {
    font-family: 'Montserrat', sans-serif;
}

.itemList .card-text p:nth-child(1){
    text-align: end;
    font-size: 23px;
}

.itemList .card-text p:nth-child(2){
    color:#00a650;
}


.meliYellow {
    background-color: #fff159;
}

.textAboveItems {
    font-family: monospace;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
}

