.navbar{
    display: contents !important;
}
.nav-user{
    width: 25%;
}
.nav-user a{
    text-decoration: none;
} 
.nav-link-logo{
    width: 20%;
}
.nav-item{
    
    width: 35%;
}

.logo{
    width:50%;
}
.form{
    width: 75%;
}
ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
ul li{
    

}
li a{
    
    display: contents;
}
 @media (max-width:768px) {
    .nav-user{
        width: 35%;
    }
    .collapse{
        width: 65%;
    }
}
 @media (max-width:320px) {
     .nav-user{
         width: 100%;
         justify-content: space-between;
         padding-top: 5%;
     }
     .form{
        width: 100%;
     }
    
 }   