.results-cont{
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: center;
}

@media (max-width:320px) {
    .results-cont{
        grid-template-columns: 100%;
    }
   }
