#sidebar {
  position: fixed;
  width: 220px;
  top: 8%;
}

#sidebar .pro-sidebar {
  height: 92vh;
  width: 100%;
  min-width: 100%;
  background-color: white;
  box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
  overflow-y: hidden;
}

#sidebar .closemenu {
  color: #000;
  position: absolute;
  right: 0;
  z-index: 9999;
  line-height: 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 22px;
  top: 55px;
  cursor: pointer;
}

#sidebar .pro-sidebar.collapsed {
  width: 80px;
  min-width: 80px;
}

#sidebar .logotext p {
  font-size: 20px;
  padding: 20px;
  color: #000;
  font-weight: bold;
}

#sidebar .pro-sidebar ul {
  padding: 0 5px;
  color: #000;
  margin: 10px 0px;
  font-weight: bold;
  display: block;
}

#sidebar .pro-sidebar ul .menu-icon {
  background-color: #fbf4cd;
  color: #000;
  border-radius: 3px;
}

#sidebar .pro-sidebar ul .menu-anchor:hover {
  /* background-image: linear-gradient(0deg, #f5e6a6 0%, #f8efd0 100%); */
  background-image: linear-gradient(0deg, #fece00 0%, #ffe172 100%);
}

#sidebar .pro-sidebar ul .menu-label {
  color: #000;
}

#sidebar #footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}
