:root {
    /*ELEMENTS*/
    --color-light-primary: #fffffe;
    --color-light-secondary:#e3f6f5;
    --color-light-tertiary: #bae8e8;
    --color-dark-primary: #2d334a;
    --color-dark-secondary: #272343;
    --button-bg: #ffd803;
    --color-shadow: #656668;

    /**/
  }